* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  min-width: 100%;
}

main {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.appearance {
  padding: 0 20px;
  width: 60%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-image: url(images/ribs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #404040;
  background-blend-mode: multiply;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  text-align: center;
  margin: 0 auto;
}

.appearance > *,
.container > * {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* == TYPOGRAPHY == */

h1 {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 300;
}

strong {
  font-weight: 600;
}

h2 {
  font-size: 1.3125rem;
  color: #404040;
  margin-bottom: 0.3rem;
}

.subtitle {
  font-size: 1.3125rem;
  font-weight: 900;
}

.subtitle,
.subtitle2 {
  color: #ffa51d;
  letter-spacing: 0.3px;
  font-size: 1rem;
  text-transform: uppercase;
}

.subtitle2 {
  font-weight: 900;
  margin-top: 0.1rem;
}

.top-text {
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  border-top: 10px solid;
  border-image: linear-gradient(to right, #ffa51d, #f18119, #ff713b) 1;
  color: #ffa51d;
  padding-top: 0.6rem;
  font-size: 0.625rem;
  font-weight: 900;
  margin: 0 auto;
}

.info {
  font-size: 0.8rem;
  opacity: 1;
}

.info,
.warning {
  color: #5a5a5a;
}

.warning {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/* == STYLE == */

form {
  width: 60%;
  max-width: 300px;
}

input,
button {
  border-radius: 5px;
  margin-bottom: 0.7rem;
  transition: all 500ms;
}

input:hover,
input:focus,
button:hover,
button:focus {
  transform: scale(1.1);
}

button:hover,
button:focus {
  color: #404040;
  font-weight: 900;
  letter-spacing: 1.5px;
  background-image: linear-gradient(to right, #ff713b, #f18119, #ffa51d);
}

input {
  border: 1px solid #818181;
  padding: 3px 0;
  display: inline-block;
  text-align: center;
  opacity: 0.6;
}

button {
  border: none;
  padding: 10px 70px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 900;
  font-size: 0.6rem;
  cursor: pointer;
  background-image: linear-gradient(to right, #ffa51d, #f18119, #ff713b);
}

@media (max-width: 650px) {
  main {
    margin: 0;
    flex-direction: column;
  }
  .appearance {
    width: 100%;
    min-height: 100%;
    padding: 0;
    min-height: 50vh;
  }
  .container {
    width: 55%;
    margin: 0 auto;
  }
  h1 {
    padding: 0 10px;
  }
  .subtitle {
    margin: 1em 0;
    padding-top: 1em;
  }
}
